.boxF {
    display: flex;
    width: 360px;
        margin-left: 50px;
        height: 111px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow-y: hidden;
}


.card-valuesF {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 700;
}

.card-valuesF span {
    font-size: 18px;
}