.box {
    display: flex;
    width: 360px;
    height: 111px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow-y: hidden;
}


.card-values {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-weight: 700;
    overflow-y: hidden;
    margin: 20px;
}

.card-values span {
    font-size: 18px;
}