.correctsTotals {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
        height: 10px;
        color: #5b8183;
        background-color: #8c0ce2;
    border-radius: 10px;
    margin: auto;
}
.container-table-defaulters {
    text-align: center;
}
.tableTitle-corrects {
    font-size: 18px;
    font-weight: 700;
    margin-left: 8px;
    font-family: 'Montserrat';
}

a {
    list-style: none;
    text-decoration: none;
}

.css-1ex1afd-MuiTableCell-root {
    font-family: 'Nunito';
    text-align: center;
    
    }
    
    .container-table-defaulters {
        margin: auto;
}