.ConteudosTotals {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 20px;
    color: #C5A605;
    background-color: #FCF6DC;
    border-radius: 10px;
    overflow-y: hidden;

}

.container-table-fullstack {
    height: 360px;

}

.container-table-fullstack p {
    font-family: 'Nunito', sans-serif;
    color: #DA0175;
    font-size: 15px;
    margin-top: 6px;
}

.container-table-fullstack a {
    color: #DA0175;
}

.p {
    margin: 20px;
}