.logoPrincipal {
    width: 50px;
    margin: 0 10px 0 20px;
}

.logoResponsivel {
    display: none;
}

@media (max-width:900px) {
    .logoPrincipal {
        display: none;
    }

    .logoResponsivel {
        display: block;
        width: 60px;
    }

}

#appBar {
    background-color: #010C31;
}