.container-modal h2 {
    text-align: center;
}


.perfil {
    width: 30px;
    margin-left: 12px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    margin-bottom: 30px;
}

.container-modal p {
    position: absolute;
    margin-top: -60px;
    margin-left: 70px;
}

.container-modal .user-infos-modal {
    margin-top: 3rem;
}



#titulo {
    float: right;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    min-height: 30px;
    min-width: 100%;
    margin-bottom: 10px;
    padding: 10px;

}

.textarea {
    padding: 10px;
    min-width: 100%;
    min-height: 100px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    resize: none;
}

.container-modal .make-public {
    border: none;
    width: 15%;
    height: 10%;
    position: absolute;
    top: 22rem;
    float: right;
    right: 1rem;
    width: 130px;
}

.container-modal .make-public:disabled {
    cursor: not-allowed;
}

.container-modal .make-public:disabled:hover {
    opacity: 0.6;
}