* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

#root {
    text-align: center;
    height: 100vh;
}

::-ms-reveal {
    display: none;
}

button {
    all: initial;
    cursor: pointer;
}




a {
    color: white;
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: none;
    scrollbar-color: #949494 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 6px;
}



*::-webkit-scrollbar-thumb {
    background-color: #949494;
    border-radius: 10px;
}